<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Westminster Library Management System
  </h1>
  
</div>
<nav>
  <a routerLink="/userinformation" routerLinkActive="active">User Information</a>
  <a routerLink="/additem" routerLinkActive="active">Add Item</a>
	<a routerLink="/deleteitem" routerLinkActive="active">Delete Item</a>
	<a routerLink="/displaylist" routerLinkActive="active">Display List</a>
	<a routerLink="/borrowitem" routerLinkActive="active">Borrow Item</a>
  <a routerLink="/returnitem" routerLinkActive="active">Return Item</a>
  <a routerLink="/generatereport" routerLinkActive="active">Generate Report</a>


</nav>

<router-outlet></router-outlet>


